<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>My Code Note - TX</title>
  <link rel="stylesheet" href="style.css" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" /> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="assets/css/bootstrap-material-design.min.css">
  <link rel="stylesheet" href="assets/css/material-components-web.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <style>
    .list-group-item {
      cursor: pointer;
    }

    .list-group-item:hover {
      /* outline: 1px solid red */
    }
  </style>
</head>

<body style="border:0px solid #ccc;max-width: 100%;">
  <!-- NAV BAR -->
  <header class="mdc-top-app-bar" style="background:#018786;">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <span class="mdc-top-app-bar__title">My Code Notes - TX</span> </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
        <button onclick="javascript:window.location.reload()"
          class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
          aria-label="Download">refresh</button>
        <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
          aria-label="Download">file_download</button>
        <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
          aria-label="Print this page">print</button>
        <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
          aria-label="Bookmark this page" id="close-this-window">close</button>
      </section>
    </div>
  </header>
  <br><br>
  <div class="container-fluid">
    <br />
    <div class="row">
      <!-- CATEGORIAS -->
      <div class="col-sm-3 col-md-4">
        <div class="alert alert-success">
          <button class="float-right" title="Clique para adicionar uma nova categoria" data-toggle="modal"
            data-target="#exampleModal" id="abrir-modal-criador-categoria">
            <i class="material-icons">
              add_circle_outline
            </i>
          </button>
          <strong>Suas Categorias:</strong>
        </div>
        <div class="input-group mb-3">
          <input type="search" class="form-control" placeholder="Pesquisar por nome, descrição ou linguagem" autofocus>
        </div>
        <ul class="list-group" id="category">
        </ul>
      </div>
      <!-- CONTEÚDO -->
      <div class="col-sm-9 col-md-8">
        <div class="row">
          <div class="col-md-12">
            <!-- PESQUISAR NOTAS -->
            <div class="input-group mb-3">
              <div class="input-group-prepend" style="border:0px solid red;">
                <button class="" style="border:0px solid lime;height: 50%;margin-top:40%;">
                  <i class="material-icons">
                    search
                  </i>
                </button>
              </div>
              <input type="search" class="form-control" placeholder="Pesquisar por nome, descrição ou linguagem"
                autofocus>
              <button class="mdc-fab mdc-fab--extended" data-toggle="modal" data-target="#modalCriarNota">
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">Criar nova nota</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="get-notes">
              <div style="display: flex;
              height: 400px;
              text-align: center;
              flex-direction: column;
              justify-content: center;
              align-content: center;
              align-items: center;">
                <h3>Hey!</h3>
                <h4>Você não tem nenhuma nota.</h4>
                <button class="mdc-fab mdc-fab--extended" data-toggle="modal" data-target="#modalCriarNota">
                  <span class="material-icons mdc-fab__icon">add</span>
                  <span class="mdc-fab__label">Criar nova nota :)</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="./script.js"></script> -->
  <script>

    const sqlite = require('sqlite-sync'); //requiring
    const $ = require('jQuery');
    const db = require('../src/conexao.js');
    const { notaTemplate, modalCategory, modalCriarNota } = require('../src/components/framework.js');
    const remote = require("electron").remote;
    console.log(remote.app.getPath('userData'));


    // Pode usar o jQuery normalmente agora.
    $(document).ready(function () {

      $('#abrir-modal-criador-categoria')
        .click(function () {
          setTimeout(function () { $('#category-name').focus().select() }, 500);
        });

  
      
      setTimeout(function () {
        
      }, 2000);
      $('body').append(
        modalCategory("Criar nova categoria", "exampleModal", "idButton1"),
        modalCriarNota("Criar nova nota", "modalCriarNota", "buttonCriarNota")
      );
      /**
       * 
       * */
      function getNotesByCategoryId(category_id) {
        sqlite.connect('./src/db/notes_db.db');
        let rows = sqlite.run("SELECT * FROM notes WHERE note_category_id = ?", [category_id]);
        sqlite.close();
        return rows;
      }


      db.serialize(() => {

        var rows = document.getElementById("category");

        db.each(`SELECT * FROM category;`, (err, row) => {

          if (err) {
            console.error(err.message);
          }

          var item = document.createElement("li");

          item.onclick = function () {

            let rows = getNotesByCategoryId(row.category_id);

            let content = "";

            if (Object.keys(rows).length > 0) {

              for (let data of rows) {
                content += notaTemplate(data.note_title, data.note_description);
              }
            }

            $("#get-notes").html(content);
            return false;
          }
          $(item).addClass('list-group-item d-flex justify-content-between align-items-center')
            .html(row.category_name.toUpperCase() + " <span class='badge badge-primary badge-pill'>0</span>").
            attr("data-category", JSON.stringify(row)).attr("title", row.category_name.toUpperCase());

          rows.appendChild(item);

        });

      });
    })

    //Fecha a janela do windows:
    const close = e => {
      const window = remote.getCurrentWindow();
      window.close();
    };

    document.querySelector("#close-this-window").addEventListener("click", close);


    require('bootstrap-material-design');
  </script>
</body>

</html>